

th,
td {
  text-align: left;
  padding: 10px;
}

Table {
  border-collapse: collapse;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

thead{
  border-color:black ;
}

.code-box-demo .ant-alert {
  margin-bottom: 16px;
}
.formContainer {
  max-width: 300px;
  padding: 20px;
  background-color: #fff;
}
